body {
    background-image: url(/static/images/bg-intro-desktop.png);
    background-color: rgb(255, 121, 120);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body .container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left {
    max-width: 50%;


}

.right {
    max-width: 50%;
}

.container .left .heading {

    margin-top: 33%;
    color: white;
    width: 100%;
    font-size: larger;
    line-height: 1.2;


}

.container .left .text {
    color: white;
    font-weight: 500;
    width: 100%;
    font-size: 14px;

}


.container .right .box-1 p {
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: rgb(93, 84, 163);
    color: white;
    min-height: 50px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    font-weight: 300;
    box-shadow: 0px 7px rgb(219, 101, 103);


}


.container .right .box-2 {
    margin-top: 20px;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 35px;
}


.container .right .box-2 .input-field {
    all: unset;
    width: 99%;
    min-height: 50px;
    margin-top: 15px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(163, 162, 166);


}

.container .right .box-2 ::placeholder {
    all: unset;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0px 30px;
    font-size: 12px;
    color: rgb(163, 162, 166);
}

.container .right .box-2 input[type=text]:focus {
    /* all: unset; */
    outline: 1px solid rgb(138, 133, 160);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(163, 162, 166);

}

.container .right .box-2 input[type=email]:focus {
    /* all: unset; */
    outline: 1px solid rgb(138, 133, 160);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(163, 162, 166);
}

.container .right .box-2 input[type=password]:focus {
    /* all: unset; */
    outline: 1px solid rgb(138, 133, 160);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(163, 162, 166);
}

.container .right .box-2 input[type=button] {
    all: unset;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: white;
    width: 99%;
    min-height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(55, 204, 138);
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px rgb(72, 175, 130);
}

.container .right .box-2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    color: rgb(205, 204, 212);
}

.container .right .box-2 p span {
    color: red;
}

.validation-message {
    color: red;
    font-style: italic;
    font-size: 10px;
    font-weight: 400;
    float: right;
}


/* Media query for larger viewports */
@media screen and (min-width: 900px) {
    .container {
        margin: 100px 140px;
    }

    .left,
    .right {
        width: 50%;
 
    }
}


@media screen and (min-width:601px) and (max-width: 899px) {
    body .container {
        margin: 50px 50px;
    }

    .left,
    .right {
        width: 50%;

    }
}


@media screen and (max-width: 600px) {
    body .container {
        margin-inline: 10px;
        margin-block: 10px;

    }

    .container .left {
        text-align: center;
    }

    .left,
    .right {
        max-width: 100%;
    }
}
